body {
    margin: 0;

}



a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #3B4B5B;
}

a:visited {
    color: white;
}

/*  NavBar */

.nav {
    margin-bottom: 50px;
}

.nav a{
    color: white;
    text-decoration: none;
}

.user-nav-div {
    
}

.nav-games{
    flex: 1;
}

.user-card-img img{
    /* object-fit: fill; */
    height: 100%;
    width: 100%;
}

/* AddGame and GameCard */


.add-game-btn b{
    color: white;
    position: relative;
}


.poster {
    height: 200px;
}

.game-card-img img{
    object-fit: fill;
    height: 100%;
    width: 100%;
}


/* .card:hover {
    transform: scale(1.1); 
    box-shadow: 0px 10px 36px 2px rgb(15, 3, 58);
}

.card:active {
    transform: scale(0.8);
    box-shadow: 0px 10px 36px 2px rgb(22, 6, 59);
} */

.card {
    animation-name: load-movie;
    animation-duration: 2s;
    transition: transform 2s, box-shadow 0.5s;
}

/*  Game Page */

.game-splash img{
    height: 50vh;
    width: 100%;
}


/* UserGameDetail And UserShow */

.other-games{
    height: 50px;
    margin-bottom: -20px;
}

.review-head {
    display: flex;
    
}

